html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #444;
background-color: #fff;
margin: 20px;
}

a, a:visited {
color: #ff0aa0;
}

p {
display: block;
margin: 0px 0px 8px 0px;
padding: 0px;
}

h1, h2, h3 {
font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
font-weight: bold;  
padding: 10px;    
color: #444;  
}

ul, ol {
margin: 0px 0px 8px 0px;
}

li {
margin: 0px;
}

h1 {
font-size: 2.2em;   
}

h2 {
font-size: 2em;
}

h3 {
font-size: 1.4em;
font-weight: normal;
padding-left: 0px;
padding-bottom: 0px;
}

table {
width: 100%;
}

p code {
border: 1px solid #ddd; 
background: #eee; 
}

pre {
text-align: left;
display: block;
overflow: auto;  
font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ;
border: 1px solid #ddd; 
background: #eee; 
padding: 4px 8px 4px 8px;
}

blockquote {
margin-left: 12px;
padding-left: 4px;
border-left: 4px #eee solid;
}